<div>
  <label>Server Name</label>
<!--   <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
  
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

<!--   <p>
    {{ serverName }}
  </p> -->

  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
    Add Server
  </button>
  
  <p *ngIf="serverCreated(); else noServer">I display if true</p>
  <ng-template #noServer>
    <p>I display if false</p>
  </ng-template>

  <app-server></app-server>
  <app-server></app-server>
</div>